<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponser Edit Profile</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Sponsor Registration</h1>
    <div class="login_form">
        <form action="/sponsor/edit_profile/{{spon.id}}" method="POST" class="input_box">
            <br>
            <p class="sub_heading">Full Name : 
                <input name="fullname" type="text" placeholder="Full Name", value="{{spon.fullname}}" required>
            </p>
            <p class="sub_heading">Email : 
                <input name="email" type="email" placeholder="Email" value="{{spon.email}}" required>
            </p>
            <p class="sub_heading">Username : 
                <input name="username" type="text" placeholder="Username" value="{{spon.username}}" required>
            </p>    
            <p class="sub_heading">Company Name : 
                <input name="company_name" type="text" placeholder="Company Name" value="{{spon.company_name}}" required>
            </p> 
            <button id="submit">Change Details</button>
            <br>
        </form>
    </div>    
</body>
</html>