<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View Influencer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="dashboard">
        <div class="add_campaign">
            <div class="view_box">
                <h1 style="color: maroon; text-align: center; text-decoration: underline;">Influencer Details</h1>
                <br>
                <table class="view_table">
                    <thead>
                        <tr>
                            <th><h3>Influencer Details</h3></th>
                            <th><h3>Information</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{inf.fullname}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{inf.email}}</td>
                        </tr>
                        <tr>
                            <td>Niche</td>
                            <td>{{inf.niche}}</td>
                        </tr>
                        <tr>
                            <td>Platform</td>
                            <td>{{inf.platform}}</td>
                        </tr>
                        <tr>
                            <td>Followers</td>
                            <td>{{inf.followers}}</td>
                        </tr>
                        <tr>
                            <td>Rating</td>
                            <td>{{inf.rating}}</td>
                        </tr>
                    </tbody>
                </table>
                <button class="back_button"><a href="/admin/dash_info">Back</a></button>
                <button class="reject_button"><a href="/admin/flag_influencer/{{inf.id}}">Flag</a></button>
            </div>
        </div>
    </div>
</body>
</html>