<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Admin Login</h1>
    <form action="/auth/admin_login" method="POST" class="login_form">
        <div class="input_box">
            <p class="sub_heading">Username</p>
            <input name="uname" type="text" placeholder="Username" required>
            <p class="sub_heading">Password</p>
            <input name="pwd" type="password" placeholder="Password" required>
            <br>
            <button id="submit">Login</button>
            <br>
        </div>
    </form>    
</body>
</html>