<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 style="text-align: center; color: rgb(0, 83, 139);">Welcome to Influencer Engagement and Sponsorship Co-ordiantion Platform</h1>
    <div class="login_form">    
        <button class="reg-btn"><a href="/auth/admin_login">Admin Login</a></button>
    </div>
    <div class="login_form">
        <button class="reg-btn"><a href="/auth/user_login">User Login</a></button>
    </div>
</body>
</html>